.app {
  display: flex;
  background: #E5E5E5;

  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #ffffff;

    &-header {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06);
      display: flex;
      padding: 12px 30px;
      align-items: flex-start;
      flex-direction: row-reverse;
      text-align: right;

      &-time {
        background: #F5F5F5;
        border-radius: 36px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #202020;    
        padding: 6px 15px 6px 50px;
 
        position: relative;

        &:before {
          content: ' ';
          position: absolute;
          top: 2px;
          left: 2px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #202020 url("../../../public/images/sidebar/pause.png") no-repeat center center ;
        }
      }

      &-profile {
        cursor: pointer;
        margin: 0 0 0 25px;
        width: 36px;
        height: 36px;        
        background: url("../../../public/images/sidebar/profile.png") no-repeat center center ;
      }
    }
  }
}