@import '../../../scss/colors.scss';

.input-text {
    position: relative;
    border: 1px solid $color-border-inactive;
    padding: 5px 10px;
    border-radius: 5px;     
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
    color: $color-text;
    box-sizing: border-box;
    width: 100%;

    &:focus,
    &:hover {
      outline: 1px solid $color-green;
      border: 1px solid $color-green;
    }

    &[disabled] {
      cursor: not-allowed; 
    }   

    &.error {
      outline: 1px solid $color-error;
      border: 1px solid $color-error;
    }
}