.grid {
  display: block;
  width: 100%;

  &-item {
    display: flex;
    align-items: flex-start;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #202020;
    cursor: pointer;
    border-bottom: 2px solid #F5F5F5;
    padding: 16px 0 18px 0;

    &-active,
    &:hover {
      background: #F9F6ED;
      border-bottom: 2px solid #F9F6ED;
    }

    &-checkbox {
      padding: 0 22px;

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #fafafa;
        border: 1px solid #DEDEDE;
        padding: 0px;
        height: 15px;
        width: 15px;
        display: inline-block;
        position: relative;   
        margin: 0;    
        
        &:checked {
            background-color: #8A826A;
            border: 1px solid #8A826A;
            color: #ffffff;

            &:after {
                content: '\2714';
                font-size: 11px;
                position: absolute;
                top: -2px;
                left: 2px;
                color: #ffffff;
            }
        }
      }      
    }

    &-name,
    &-class,
    &-approver,
    &-team {
      padding: 0 0 0 0;
    }

    &-name {
      width: 52%;
    }

    &-class {
      width: 10%;
    }
    &-approver {
      width: 18%;
    }
    &-team  {
      width: 10%;
    }

    &-header {
      padding: 0;

      .grid-item-checkbox {
        padding-top: 16px;
        padding-bottom: 14px;
        line-height: 16px;
        
        input[type="checkbox"] {
          border: 1px solid #000000;
        }
      }

      .grid-item-name,
      .grid-item-class,
      .grid-item-approver,
      .grid-item-team {
        padding: 19px 0 16px 0;
        font-weight: bold;
        font-size: 9px;
        line-height: 11px !important;
        text-transform: uppercase;      
        color: #202020;
      }
    }
  }
}